**/Makefile.in
**/Makefile
**/configure
**/*.m4
**/*.in
**/*cache
**/version.*
**/*.mf
sntp/libevent/build-aux

# Visual Studio / Windows port build artifacts
**/.vs/
**/*.vcxproj.user
**/.version
ports/winnt/**/*-out/
ports/winnt/**/*-tmp/
ports/winnt/**/scm-rev
